<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>获取地理位置</title>
    <!-- 微信 js-sdk -->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<br></br>
<div class="container">
    <div class="form-group">
        <label for="item-ifo" class="col-sm-2 control-label">地址：${appid}<span th:text="${appid}"></span></label>
        <div class="col-sm-10" id="item-ifo">
            <input type="text" value="" class="form-control"
                   name="location.address" id="address" placeholder="正在获取地理位置" tabindex="1" autocomplete="off" />
            <div class="i-name ico" id="i-name">${appid}</div>
        </div>
    </div>
</div>

</body>
<script th:inline="javascript">
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: [[${appid}]], // 必填，公众号的唯一标识
        timestamp:parseInt([[${timestamp}]],10) , // 必填，生成签名的时间戳
        nonceStr: [[${noncestr}]], // 必填，生成签名的随机串
        signature: [[${signature}]],// 必填，签名，见附录1
        jsApiList: ['checkJsApi', 'openLocation', 'getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.checkJsApi({
        jsApiList: ['getLocation'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
        success: function(res) {
            if (res.checkResult.getLocation == false) {
                alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
                return;
            }
        }
    });
    wx.ready(function(){
        wx.getLocation({
            success: function (res) {
                alert("经纬度为：（" + res.latitude + "，" + res.longitude + "）" );
            },
            fail: function(error) {
                AlertUtil.error("获取地理位置失败，请确保开启GPS且允许微信获取您的地理位置！");
            }
        });
    });

    wx.error(function(res){
    });

</script>
</html>